<div
    id='rooter'
    class='cover-container w-100 d-flex h-100 p-3 mx-auto flex-column'
>
    <header class='masthead mb-auto'>
        <div class='inner'>
            <h3 class='masthead-brand'>CookUni</h3>
            <nav class='nav nav-masthead justify-content-center'>
                <a class='nav-link' href='http://localhost:4000/home'>Home</a>
                <a class='nav-link' href='#'>Welcome, {{data.firstName}} {{data.lastName}}</a>!</a>
                <a class='nav-link' href={{shareRecipe data.id}} >Share recipe</a>
                <a class='nav-link' href={{logOutSrc data.id}}>Logout</a>           
            </nav>
        </div>
    </header>

    {{! Template start }}
    <h1 class='text-center'>Our Recipes</h1>
    {{#each recipes}}

        <div class="container">
        <div class="row">
            <!--Grain-Food-Template-->
            <div class="col-lg-12">
                <div class="our-team-main">
                    <div class="team-front">
                        <img
                            src={{categoryImageUrl}}
                        />
                        <h3>{{meal}}</h3>
                        <p>{{category}}</p>
                    </div>

                    <div class="team-back">
                        <div class="back-side-info">
                            <h4>Ingredients</h4>
                            <ul>
                                {{#each ingredients}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </ul>
                            <a href={{loadUrl loggedInUser id}}>View the recipe</a>
                        </div>

                        <img class="foodImage"
                        src={{foodImageUrl}}
                        width: 150; height: auto; />
                    </div>
                </div>
            </div>
            <!--Food-Template-->
        </div>
    </div>
    {{else}}
<div id='foodNotFound'>
        <img
            src='https://t4.ftcdn.net/jpg/00/62/17/31/240_F_62173114_ozantkVtkPgzL0fxssAkTqKX1FHPr0UW.jpg'
        />
        <h3>Food not found...</h3>
    </div>
    {{/each}}
    
    {{! Template end }}
    <footer class='mastfoot mt-5 text-center text-light'>
        <div class='inner'>
            <p>Made with &hearts; by <a href='/home'>CookUni</a>.</p>
        </div>
        <i class='fa fa-heart'></i>
    </footer>
</div>
