<div
    id='rooter'
    class='cover-container w-100 d-flex h-100 p-3 mx-auto flex-column'
>
    <header class='masthead mb-auto'>
        <div class='inner'>
            <h3 class='masthead-brand'>CookUni</h3>
            <nav class='nav nav-masthead justify-content-center'>
                <a class='nav-link' href='/home'>Home</a>
                <a class='nav-link' href={{homePage data.id}}>Welcome, {{data.firstName}} {{data.lastName}}</a>!</a>
                <a class='nav-link' href={{shareRecipe data.id}} >Share recipe</a>
                <a class='nav-link' href={{logOutSrc data.id}}>Logout</a>           
            </nav>
        </div>
    </header>

    {{! Template start }}

    <div class='row form-layout p-5'>
        <div class='col-md-12'>
            <div class='recepieInfo'>
                <div class='detailsFoodImage'>
                    <img
                        src={{recipe.foodImageURL}}
                        alt=''
                    />
                </div>

                <div class='infoPack'>
                    <h3 class='my-3'>{{recipe.meal}}</h3>
                    <p class='prep-method'>{{recipe.prepMethod}}</p>
                    <p class='description'>{{recipe.description}}</p>
                </div>
         {{#if recipe.correctUser}}
                <div class='actions'>
                    <a class='btn btn-danger' onclick={{{deleteRecipe recipe.id data.id}}} href='#'>Archive</a>
                    <a class='btn btn-info' href={{editUrl data.id recipe.id}}>Edit</a>
                     <a class='btn btn-success' onclick={{{likeRecipe recipe.id}}} href='#'> {{recipe.likesCounter}} likes</a>
                </div>
                {{!-- {{correctUser recipe.id}} --}}
                {{else}}
                    <div class='actions'>                
                    <a class='btn btn-success' onclick={{{likeRecipe recipe.id}}} href='#'> {{recipe.likesCounter}} likes</a>
                   {{!-- {{{notCorrectUser recipe.id recipe.likesCounter}}} --}}
                </div>
                {{/if}}
            </div>

            <div class='detailsIngredients'>
                <h3 class='my-3 ingredient'>Ingredients</h3>
                <ul>
                {{#each recipe.ingredients}}
                    <li>{{this}}</li>
                {{/each}}
                </ul>
            </div>
        </div>
    </div>

    {{! Template end }}
    <footer class='mastfoot mt-5 text-center text-light'>
        <div class='inner'>
            <p>Made with &hearts; by <a href='/home'>CookUni</a>.</p>
        </div>
        <i class='fa fa-heart'></i>
    </footer>
</div>
<script>
    const  deleteRecipe = async (id, userId)=>{
        try{
      await axios.delete(`/recipe/${id}`)
      window.location.replace(`/recipe/${userId}`);
        }catch(err){
        console.log(err)
        }
    };
    const likeRecipe = async (id)=> {
        try{
     await axios.put(`/recipe/like/${id}`, {hello: 'world'})
     location.reload();
        }catch(err){
            console.log(err)
        }
    }
     
</script>